#!/bin/sh
{% set cmd = command.split(' ') %}
set -e

# this if will check if the first argument is a flag
# but only works if all arguments require a hyphenated flag
# -v; -SL; -f arg; etc will work, but not arg1 arg2
if [ "${1:0:1}" = '-' ]; then
    set -- {{ cmd[0] }} "$@"
fi

# check for the expected command
if [ "$1" = '{{ cmd[0] }}' ]; then
    # init stuff...
    # ...
    # ..
    # .
    exec "$@"
fi

# else default to run whatever the user wanted like "sh"
exec "$@"